<launch>
    <arg name="namespace_prefix" default="left_ur5_realsense_handeyecalibration" />
    <arg name="eye_on_hand" default="true" />

    <arg name="camera_namespace" default="/camera/color" />
    <!-- <arg name="robot_ip" doc="The IP address of the UR5 robot" default="192.168.2.11" /> -->

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.120" />
    <arg name="square_size" doc="The ID of the ArUco marker used" default="582" />
    <arg name="square_number_x" default="1" />
    <arg name="square_number_y" default="1" />

    <!-- start the realsense -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
        <arg name="color_height" value="1080" />
        <arg name="color_width" value="1920" />
        <arg name="color_fps" value="30" />
        <arg name="usb_port_id"  value="" />
    </include>

    <!-- start ArUco -->
    <node name="easy_aruco_node" pkg="easy_aruco" type="easy_aruco_node">
        <param name="object_type" value="aruco_marker" />

        <param name="camera_namespace" value="$(arg camera_namespace)" />
        <param name="dictionary" value="DICT_ARUCO_ORIGINAL" />

        <param name="camera_frame" value="camera_color_optical_frame" />
        <param name="reference_frame" value="camera_color_optical_frame" />

        <param name="marker_size" value="$(arg marker_size)" />
        <param name="square_size" value="$(arg square_size)" />
        <param name="square_number_x" value="$(arg square_number_x)" />
        <param name="square_number_y" value="$(arg square_number_y)" />
    </node>

    <!-- start the robot (using https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) -->
    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="192.168.1.12" />
        <!-- <arg name="tf_prefix" value="right_robot_"/> -->
        <arg name="reverse_port" value="50001" />
        <arg name="script_sender_port" value="50002"/>
        <arg name="trajectory_port" value="50003"/>
        <arg name="script_command_port" value="50004"/>
        <arg name="kinematics_config" value="$(find dual_description)/config/right_robot_kinematics.yaml"/>
    </include>
    <include file="$(find ur5e_moveit_config)/launch/moveit_planning_execution.launch" />
    <!-- <include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch" > -->
        <!-- <arg name="config" value="$(find ur5e_moveit_config)/launch/moveit.rviz" /> -->
    <!-- </include> -->

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
        <arg name="eye_on_hand" value="$(arg eye_on_hand)" />

        <arg name="tracking_base_frame" value="camera_color_optical_frame" />
        <arg name="tracking_marker_frame" value="marker_582" />
        <arg name="robot_base_frame" value="base" />
        <arg name="robot_effector_frame" value="tool0" />

        <arg name="freehand_robot_movement" value="false" />
        <arg name="robot_velocity_scaling" value="0.5" />
        <arg name="robot_acceleration_scaling" value="0.2" />
        <arg name="translation_delta_meters" default="0.05"  />
        <arg name="rotation_delta_degrees" default="25"  />
    </include>

</launch>